<?xml version="1.0" ?>
<Library name="Millitary Improvised" shape="rectangle" default_fill="-16777216" default_outline="-1" tex="0">
    <Template>
        <Name>HBarrier_1m</Name>
        <File>dz\structures\military\improvised\proxy\hbarrier_1m.p3d</File>
        <Date>03/24/21 11:06:34</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1485790220</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.328930</BBRadius>
        <BBHScale>0.863966</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.156870" Y="-0.261373" Z="-1.325280" />
        <BoundingMax X="1.139430" Y="1.476560" Z="1.332580" />
        <BoundingCenter X="-0.008720" Y="0.607594" Z="0.003650" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>tent_big1</Name>
        <File>dz\structures\military\improvised\proxy\tent_big1.p3d</File>
        <Date>03/24/21 11:06:35</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1218602169</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>6.198105</BBRadius>
        <BBHScale>0.850015</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-5.268480" Y="-0.103388" Z="-5.780070" />
        <BoundingMax X="5.268480" Y="3.372610" Z="6.616140" />
        <BoundingCenter X="0.000000" Y="1.634611" Z="0.418035" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>tent_big2</Name>
        <File>dz\structures\military\improvised\proxy\tent_big2.p3d</File>
        <Date>03/24/21 11:06:36</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1218602170</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>4.311113</BBRadius>
        <BBHScale>1.254719</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-5.417120" Y="-0.456835" Z="-4.312512" />
        <BoundingMax X="5.401353" Y="4.353635" Z="4.309715" />
        <BoundingCenter X="-0.007884" Y="1.948400" Z="-0.001399" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>tent_boxwooden</Name>
        <File>dz\structures\military\improvised\proxy\tent_boxwooden.p3d</File>
        <Date>03/24/21 11:06:36</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1964484935</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.501548</BBRadius>
        <BBHScale>1.000001</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.500400" Y="-0.000045" Z="-0.503520" />
        <BoundingMax X="0.502697" Y="0.973343" Z="0.499576" />
        <BoundingCenter X="0.001148" Y="0.486649" Z="-0.001972" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>tent_chair</Name>
        <File>dz\structures\military\improvised\proxy\tent_chair.p3d</File>
        <Date>03/24/21 11:06:37</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1465452797</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.298191</BBRadius>
        <BBHScale>0.960460</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.287302" Y="-0.007008" Z="-0.297433" />
        <BoundingMax X="0.285499" Y="0.998306" Z="0.298949" />
        <BoundingCenter X="-0.000902" Y="0.495649" Z="0.000758" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>tent_gunrack</Name>
        <File>dz\structures\military\improvised\proxy\tent_gunrack.p3d</File>
        <Date>03/24/21 11:06:38</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>781795247</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.494628</BBRadius>
        <BBHScale>0.799336</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.395374" Y="0.000000" Z="-0.494628" />
        <BoundingMax X="0.395374" Y="0.730211" Z="0.494628" />
        <BoundingCenter X="-0.000000" Y="0.365106" Z="0.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>tent_ltable</Name>
        <File>dz\structures\military\improvised\proxy\tent_ltable.p3d</File>
        <Date>03/24/21 11:06:38</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>2064754666</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.349245</BBRadius>
        <BBHScale>0.733705</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.989753" Y="-0.002110" Z="-1.317770" />
        <BoundingMax X="0.990144" Y="0.969640" Z="1.380720" />
        <BoundingCenter X="0.000196" Y="0.483765" Z="0.031475" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>tent_pallets</Name>
        <File>dz\structures\military\improvised\proxy\tent_pallets.p3d</File>
        <Date>03/24/21 11:06:39</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1571531019</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.830846</BBRadius>
        <BBHScale>0.992258</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.819940" Y="-0.585567" Z="-0.845697" />
        <BoundingMax X="0.828887" Y="0.940490" Z="0.815995" />
        <BoundingCenter X="0.004474" Y="0.177462" Z="-0.014851" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>tent_stretcher</Name>
        <File>dz\structures\military\improvised\proxy\tent_stretcher.p3d</File>
        <Date>03/24/21 11:06:40</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1377456170</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.110698</BBRadius>
        <BBHScale>0.231260</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.256860" Y="-0.077842" Z="-1.104000" />
        <BoundingMax X="0.256860" Y="0.092136" Z="1.117395" />
        <BoundingCenter X="-0.000000" Y="0.007147" Z="0.006698" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>tent_table</Name>
        <File>dz\structures\military\improvised\proxy\tent_table.p3d</File>
        <Date>03/24/21 11:06:41</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1797475578</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.411191</BBRadius>
        <BBHScale>2.458687</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.010990" Y="-0.012761" Z="-0.410994" />
        <BoundingMax X="1.010990" Y="0.813117" Z="0.411388" />
        <BoundingCenter X="0.000000" Y="0.400178" Z="0.000197" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>HBarrier_4m</Name>
        <File>dz\structures\military\improvised\hbarrier_4m.p3d</File>
        <Date>03/24/21 11:06:43</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1485987017</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.290385</BBRadius>
        <BBHScale>1.825844</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.199348" Y="-0.269112" Z="-1.253820" />
        <BoundingMax X="3.512736" Y="1.387810" Z="1.326950" />
        <BoundingCenter X="1.156694" Y="0.559349" Z="0.036565" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>HBarrier_6m</Name>
        <File>dz\structures\military\improvised\hbarrier_6m.p3d</File>
        <Date>03/24/21 11:06:44</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1486118215</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.330215</BBRadius>
        <BBHScale>2.576663</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.166220" Y="-0.288869" Z="-1.287710" />
        <BoundingMax X="5.688810" Y="1.547500" Z="1.372720" />
        <BoundingCenter X="2.261295" Y="0.629315" Z="0.042505" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>HBarrier_Big</Name>
        <File>dz\structures\military\improvised\hbarrier_big.p3d</File>
        <Date>03/24/21 11:06:45</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>799976944</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>2.076800</BBRadius>
        <BBHScale>2.500798</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-5.181001" Y="-0.398064" Z="-2.020750" />
        <BoundingMax X="5.206315" Y="2.540760" Z="2.132850" />
        <BoundingCenter X="0.012657" Y="1.071348" Z="0.056050" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>HBarrier_Round</Name>
        <File>dz\structures\military\improvised\hbarrier_round.p3d</File>
        <Date>03/24/21 11:06:47</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1016626942</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.761467</BBRadius>
        <BBHScale>1.934923</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.144489" Y="-0.295170" Z="-1.547890" />
        <BoundingMax X="5.672117" Y="1.547500" Z="1.975045" />
        <BoundingCenter X="2.263814" Y="0.626165" Z="0.213578" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Artilery_Rampart</Name>
        <File>dz\structures\military\improvised\mil_artilery_rampart.p3d</File>
        <Date>03/24/21 11:06:48</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1039345241</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.631615</BBRadius>
        <BBHScale>1.913485</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-6.949040" Y="-1.272210" Z="-5.857080" />
        <BoundingMax X="6.949040" Y="1.552110" Z="1.406150" />
        <BoundingCenter X="0.000000" Y="0.139950" Z="-2.225465" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Artillery_Nest</Name>
        <File>dz\structures\military\improvised\mil_artillery_nest.p3d</File>
        <Date>03/24/21 11:06:48</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1841274752</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>10.998425</BBRadius>
        <BBHScale>1.302496</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-14.325401" Y="-1.272210" Z="-14.359800" />
        <BoundingMax X="14.325401" Y="1.642550" Z="7.637051" />
        <BoundingCenter X="0.000000" Y="0.185170" Z="-3.361375" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_CamoNet_Big_east</Name>
        <File>dz\structures\military\improvised\mil_camonet_big_east.p3d</File>
        <Date>03/24/21 11:06:50</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>633696845</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>8.421951</BBRadius>
        <BBHScale>1.168232</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-9.793555" Y="-1.825782" Z="-8.157540" />
        <BoundingMax X="9.884030" Y="5.965656" Z="8.686362" />
        <BoundingCenter X="0.045238" Y="2.069937" Z="0.264411" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_CamoNet_Big_nato</Name>
        <File>dz\structures\military\improvised\mil_camonet_big_nato.p3d</File>
        <Date>03/24/21 11:06:51</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-930887362</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>8.421951</BBRadius>
        <BBHScale>1.168232</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-9.793555" Y="-1.825782" Z="-8.157540" />
        <BoundingMax X="9.884030" Y="5.965656" Z="8.686362" />
        <BoundingCenter X="0.045238" Y="2.069937" Z="0.264411" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_CamoNet_Roof_east</Name>
        <File>dz\structures\military\improvised\mil_camonet_roof_east.p3d</File>
        <Date>03/24/21 11:06:52</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>673921623</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>5.889915</BBRadius>
        <BBHScale>1.831750</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-10.887644" Y="-1.670731" Z="-5.277260" />
        <BoundingMax X="10.690058" Y="3.916077" Z="6.502570" />
        <BoundingCenter X="-0.098793" Y="1.122673" Z="0.612655" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_CamoNet_Roof_nato</Name>
        <File>dz\structures\military\improvised\mil_camonet_roof_nato.p3d</File>
        <Date>03/24/21 11:06:54</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-890662584</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>5.889915</BBRadius>
        <BBHScale>1.831750</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-10.887644" Y="-1.670731" Z="-5.277260" />
        <BoundingMax X="10.690058" Y="3.916077" Z="6.502570" />
        <BoundingCenter X="-0.098793" Y="1.122673" Z="0.612655" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_CamoNet_Side_east</Name>
        <File>dz\structures\military\improvised\mil_camonet_side_east.p3d</File>
        <Date>03/24/21 11:06:54</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-556389100</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>4.174169</BBRadius>
        <BBHScale>1.747126</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-7.268628" Y="-1.486329" Z="-4.373613" />
        <BoundingMax X="7.316974" Y="3.997579" Z="3.974725" />
        <BoundingCenter X="0.024173" Y="1.255625" Z="-0.199444" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_CamoNet_Side_nato</Name>
        <File>dz\structures\military\improvised\mil_camonet_side_nato.p3d</File>
        <Date>03/24/21 11:06:55</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-2120973307</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>4.174169</BBRadius>
        <BBHScale>1.747126</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-7.268628" Y="-1.486329" Z="-4.373613" />
        <BoundingMax X="7.316974" Y="3.997579" Z="3.974725" />
        <BoundingCenter X="0.024173" Y="1.255625" Z="-0.199444" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_CamoNet_Tent2</Name>
        <File>dz\structures\military\improvised\mil_camonet_tent2.p3d</File>
        <Date>03/24/21 11:06:56</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1506477738</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>7.504175</BBRadius>
        <BBHScale>0.773251</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-5.129701" Y="-1.324481" Z="-5.720750" />
        <BoundingMax X="6.475520" Y="4.536201" Z="9.287601" />
        <BoundingCenter X="0.672910" Y="1.605860" Z="1.783425" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Fortified_Nest_Big</Name>
        <File>dz\structures\military\improvised\mil_fortified_nest_big.p3d</File>
        <Date>03/24/21 11:07:00</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>497887143</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>5.509965</BBRadius>
        <BBHScale>1.002663</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-5.062472" Y="-0.910647" Z="-3.358610" />
        <BoundingMax X="5.986810" Y="2.906390" Z="7.661321" />
        <BoundingCenter X="0.462169" Y="0.997871" Z="2.151355" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Fortified_Nest_Small</Name>
        <File>dz\structures\military\improvised\mil_fortified_nest_small.p3d</File>
        <Date>03/24/21 11:07:01</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-670362578</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>2.291560</BBRadius>
        <BBHScale>1.091248</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.959550" Y="-0.301196" Z="-2.228240" />
        <BoundingMax X="3.041770" Y="2.269601" Z="2.354880" />
        <BoundingCenter X="0.541110" Y="0.984203" Z="0.063320" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Fortified_Nest_Watchtower</Name>
        <File>dz\structures\military\improvised\mil_fortified_nest_watchtower.p3d</File>
        <Date>03/24/21 11:07:02</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>303541619</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>5.230115</BBRadius>
        <BBHScale>0.666881</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-3.344980" Y="-0.910647" Z="-4.542580" />
        <BoundingMax X="3.630750" Y="5.047960" Z="5.917650" />
        <BoundingCenter X="0.142885" Y="2.068656" Z="0.687535" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_GuardShed</Name>
        <File>dz\structures\military\improvised\mil_guardshed.p3d</File>
        <Date>03/24/21 11:07:03</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-405766934</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.031430</BBRadius>
        <BBHScale>1.387966</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.431590" Y="-1.328990" Z="-1.026870" />
        <BoundingMax X="1.431590" Y="2.703379" Z="1.035990" />
        <BoundingCenter X="0.000000" Y="0.687194" Z="0.004560" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Tent_Big1_1</Name>
        <File>dz\structures\military\improvised\mil_tent_big1_1.p3d</File>
        <Date>03/24/21 11:07:03</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-2117607236</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.852240</BBRadius>
        <BBHScale>0.802236</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-3.090410" Y="-0.049045" Z="-3.850210" />
        <BoundingMax X="3.090400" Y="3.249101" Z="3.854270" />
        <BoundingCenter X="-0.000005" Y="1.600028" Z="0.002030" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Tent_Big1_2</Name>
        <File>dz\structures\military\improvised\mil_tent_big1_2.p3d</File>
        <Date>03/24/21 11:07:05</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-2117607235</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.852240</BBRadius>
        <BBHScale>0.802236</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-3.090410" Y="-0.049045" Z="-3.850210" />
        <BoundingMax X="3.090400" Y="3.249101" Z="3.854270" />
        <BoundingCenter X="-0.000005" Y="1.600028" Z="0.002030" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Tent_Big1_3</Name>
        <File>dz\structures\military\improvised\mil_tent_big1_3.p3d</File>
        <Date>03/24/21 11:07:05</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-2117607234</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.852240</BBRadius>
        <BBHScale>0.802236</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-3.090410" Y="-0.049045" Z="-3.850210" />
        <BoundingMax X="3.090400" Y="3.249101" Z="3.854270" />
        <BoundingCenter X="-0.000005" Y="1.600028" Z="0.002030" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Tent_Big1_4</Name>
        <File>dz\structures\military\improvised\mil_tent_big1_4.p3d</File>
        <Date>03/24/21 11:07:06</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-2117607233</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.852240</BBRadius>
        <BBHScale>0.802236</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-3.090410" Y="-0.049045" Z="-3.850210" />
        <BoundingMax X="3.090400" Y="3.249101" Z="3.854270" />
        <BoundingCenter X="-0.000005" Y="1.600028" Z="0.002030" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Tent_Big1_5</Name>
        <File>dz\structures\military\improvised\mil_tent_big1_5.p3d</File>
        <Date>03/24/21 11:07:07</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-2117607232</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.852240</BBRadius>
        <BBHScale>0.802236</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-3.090410" Y="-0.049045" Z="-3.850210" />
        <BoundingMax X="3.090400" Y="3.249101" Z="3.854270" />
        <BoundingCenter X="-0.000005" Y="1.600028" Z="0.002030" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Tent_Big2_1</Name>
        <File>dz\structures\military\improvised\mil_tent_big2_1.p3d</File>
        <Date>03/24/21 11:07:08</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-2109345731</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.005860</BBRadius>
        <BBHScale>1.708365</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-5.133260" Y="-0.250000" Z="-3.006810" />
        <BoundingMax X="5.136950" Y="4.244300" Z="3.004910" />
        <BoundingCenter X="0.001845" Y="1.997150" Z="-0.000950" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Tent_Big2_2</Name>
        <File>dz\structures\military\improvised\mil_tent_big2_2.p3d</File>
        <Date>03/24/21 11:07:08</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-2109345730</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.005860</BBRadius>
        <BBHScale>1.708365</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-5.133260" Y="-0.250000" Z="-3.006810" />
        <BoundingMax X="5.136950" Y="4.244300" Z="3.004910" />
        <BoundingCenter X="0.001845" Y="1.997150" Z="-0.000950" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Tent_Big2_3</Name>
        <File>dz\structures\military\improvised\mil_tent_big2_3.p3d</File>
        <Date>03/24/21 11:07:09</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-2109345729</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.005860</BBRadius>
        <BBHScale>1.708365</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-5.133260" Y="-0.250000" Z="-3.006810" />
        <BoundingMax X="5.136950" Y="4.244300" Z="3.004910" />
        <BoundingCenter X="0.001845" Y="1.997150" Z="-0.000950" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Tent_Big2_4</Name>
        <File>dz\structures\military\improvised\mil_tent_big2_4.p3d</File>
        <Date>03/24/21 11:07:10</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-2109345728</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.005860</BBRadius>
        <BBHScale>1.708365</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-5.133260" Y="-0.250000" Z="-3.006810" />
        <BoundingMax X="5.136950" Y="4.244300" Z="3.004910" />
        <BoundingCenter X="0.001845" Y="1.997150" Z="-0.000950" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Tent_Big2_5</Name>
        <File>dz\structures\military\improvised\mil_tent_big2_5.p3d</File>
        <Date>03/24/21 11:07:11</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-2109345727</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.005860</BBRadius>
        <BBHScale>1.708365</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-5.133260" Y="-0.250000" Z="-3.006810" />
        <BoundingMax X="5.136950" Y="4.244300" Z="3.004910" />
        <BoundingCenter X="0.001845" Y="1.997150" Z="-0.000950" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Tent_Big3</Name>
        <File>dz\structures\military\improvised\mil_tent_big3.p3d</File>
        <Date>03/24/21 11:07:12</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>293158444</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>10.540590</BBRadius>
        <BBHScale>0.743377</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-9.649040" Y="-0.935557" Z="-11.579700" />
        <BoundingMax X="6.022230" Y="3.276571" Z="9.501480" />
        <BoundingCenter X="-1.813405" Y="1.170507" Z="-1.039110" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Mil_Tent_Big4</Name>
        <File>dz\structures\military\improvised\mil_tent_big4.p3d</File>
        <Date>03/24/21 11:07:13</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>293158445</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>8.819690</BBRadius>
        <BBHScale>0.696298</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-6.926881" Y="-1.261730" Z="-5.366280" />
        <BoundingMax X="5.355380" Y="3.684796" Z="12.273100" />
        <BoundingCenter X="-0.785750" Y="1.211533" Z="3.453410" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Roadblock_Bags_Curve</Name>
        <File>dz\structures\military\improvised\roadblock_bags_curve.p3d</File>
        <Date>03/24/21 11:07:15</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1174369933</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>2.708702</BBRadius>
        <BBHScale>0.609696</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.391290" Y="-0.504909" Z="-2.561647" />
        <BoundingMax X="1.911680" Y="2.020073" Z="2.855756" />
        <BoundingCenter X="0.260195" Y="0.757582" Z="0.147054" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Roadblock_Bags_EndL</Name>
        <File>dz\structures\military\improvised\roadblock_bags_endl.p3d</File>
        <Date>03/24/21 11:07:16</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1853509325</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.590947</BBRadius>
        <BBHScale>1.220097</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.527412" Y="-0.548977" Z="-0.622456" />
        <BoundingMax X="0.914613" Y="1.761346" Z="0.559437" />
        <BoundingCenter X="0.193601" Y="0.606184" Z="-0.031510" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Roadblock_Bags_EndR</Name>
        <File>dz\structures\military\improvised\roadblock_bags_endr.p3d</File>
        <Date>03/24/21 11:07:17</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1853509319</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.618867</BBRadius>
        <BBHScale>1.147015</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.649488" Y="-0.571524" Z="-0.723288" />
        <BoundingMax X="0.770212" Y="1.720040" Z="0.514446" />
        <BoundingCenter X="0.060362" Y="0.574258" Z="-0.104421" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Roadblock_Bags_Long</Name>
        <File>dz\structures\military\improvised\roadblock_bags_long.p3d</File>
        <Date>03/24/21 11:07:18</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-675448706</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.691300</BBRadius>
        <BBHScale>0.225427</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.397818" Y="-0.501854" Z="-1.682690" />
        <BoundingMax X="0.364713" Y="1.972840" Z="1.699910" />
        <BoundingCenter X="-0.016552" Y="0.735493" Z="0.008610" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Roadblock_CncBlock</Name>
        <File>dz\structures\military\improvised\roadblock_cncblock.p3d</File>
        <Date>03/24/21 11:07:20</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1858658727</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.327375</BBRadius>
        <BBHScale>0.354660</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.489896" Y="-0.005755" Z="-1.270180" />
        <BoundingMax X="0.451638" Y="0.692268" Z="1.384570" />
        <BoundingCenter X="-0.019129" Y="0.343256" Z="0.057195" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Roadblock_CncBlocks_Long</Name>
        <File>dz\structures\military\improvised\roadblock_cncblocks_long.p3d</File>
        <Date>03/24/21 11:07:20</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1714205935</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.045020</BBRadius>
        <BBHScale>0.158559</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.492418" Y="-0.001657" Z="-3.303360" />
        <BoundingMax X="0.473213" Y="1.376772" Z="2.786680" />
        <BoundingCenter X="-0.009602" Y="0.687557" Z="-0.258340" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Roadblock_CncBlocks_short</Name>
        <File>dz\structures\military\improvised\roadblock_cncblocks_short.p3d</File>
        <Date>03/24/21 11:07:21</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-305439383</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.323015</BBRadius>
        <BBHScale>0.345705</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.486232" Y="-0.014084" Z="-1.265820" />
        <BoundingMax X="0.428514" Y="1.340020" Z="1.380210" />
        <BoundingCenter X="-0.028859" Y="0.662968" Z="0.057195" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Roadblock_Pillbox</Name>
        <File>dz\structures\military\improvised\roadblock_pillbox.p3d</File>
        <Date>03/24/21 11:07:23</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1116750208</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>2.604424</BBRadius>
        <BBHScale>1.082802</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.107784" Y="-0.066929" Z="-2.658009" />
        <BoundingMax X="4.532371" Y="2.186824" Z="2.550840" />
        <BoundingCenter X="1.712294" Y="1.059947" Z="-0.053584" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Roadblock_Table</Name>
        <File>dz\structures\military\improvised\roadblock_table.p3d</File>
        <Date>03/24/21 11:07:24</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1397576644</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.411191</BBRadius>
        <BBHScale>2.458687</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.010990" Y="-0.012761" Z="-0.410994" />
        <BoundingMax X="1.010990" Y="0.813117" Z="0.411388" />
        <BoundingCenter X="0.000000" Y="0.400178" Z="0.000197" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Roadblock_WoodenCrate</Name>
        <File>dz\structures\military\improvised\roadblock_woodencrate.p3d</File>
        <Date>03/24/21 11:07:24</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1215974011</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.715222</BBRadius>
        <BBHScale>0.563980</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.403369" Y="-0.050000" Z="-0.716484" />
        <BoundingMax X="0.403373" Y="0.646378" Z="0.713961" />
        <BoundingCenter X="0.000002" Y="0.298189" Z="-0.001261" />
        <Placement></Placement>
    </Template>
</Library>
