<?xml version="1.0" ?>
<Library name="Roads Bridges" shape="rectangle" default_fill="-16777216" default_outline="-1" tex="0">
    <Template>
        <Name>Bridge_Metal_25</Name>
        <File>dz\structures\roads\bridges\bridge_metal_25.p3d</File>
        <Date>02/23/21 19:29:16</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1943096143</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>12.500081</BBRadius>
        <BBHScale>0.707002</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-8.839809" Y="-19.946802" Z="-12.500161" />
        <BoundingMax X="8.835350" Y="4.883810" Z="12.500001" />
        <BoundingCenter X="-0.002230" Y="-7.531496" Z="-0.000080" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Bridge_Metal_25_1</Name>
        <File>dz\structures\roads\bridges\bridge_metal_25_1.p3d</File>
        <Date>02/23/21 19:29:17</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1335657411</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>13.930780</BBRadius>
        <BBHScale>0.638097</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-8.876917" Y="-19.946802" Z="-13.754687" />
        <BoundingMax X="8.901459" Y="4.883810" Z="14.106874" />
        <BoundingCenter X="0.012271" Y="-7.531496" Z="0.176093" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Bridge_Stone_25</Name>
        <File>dz\structures\roads\bridges\bridge_stone_25.p3d</File>
        <Date>02/23/21 19:29:17</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1450176429</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>12.500001</BBRadius>
        <BBHScale>0.599403</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-7.525620" Y="-7.825970" Z="-12.500001" />
        <BoundingMax X="7.459460" Y="9.977711" Z="12.500001" />
        <BoundingCenter X="-0.033080" Y="1.075870" Z="0.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Bridge_Wood_25</Name>
        <File>dz\structures\roads\bridges\bridge_wood_25.p3d</File>
        <Date>02/23/21 19:29:17</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1765559455</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>4.551815</BBRadius>
        <BBHScale>3.674106</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-16.303501" Y="-2.658730" Z="-4.516420" />
        <BoundingMax X="17.144199" Y="2.547890" Z="4.587210" />
        <BoundingCenter X="0.420349" Y="-0.055420" Z="0.035395" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Bridge_Wood_50</Name>
        <File>dz\structures\roads\bridges\bridge_wood_50.p3d</File>
        <Date>02/23/21 19:29:17</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1765756247</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>4.551815</BBRadius>
        <BBHScale>5.684210</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-24.614056" Y="-2.658730" Z="-4.516420" />
        <BoundingMax X="27.132893" Y="2.547890" Z="4.587210" />
        <BoundingCenter X="1.259418" Y="-0.055420" Z="0.035395" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Bridge_Wood_50_1</Name>
        <File>dz\structures\roads\bridges\bridge_wood_50_1.p3d</File>
        <Date>02/23/21 19:29:18</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-811652759</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>4.551815</BBRadius>
        <BBHScale>5.684210</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-24.614056" Y="-5.260101" Z="-4.516420" />
        <BoundingMax X="27.132893" Y="2.547890" Z="4.587210" />
        <BoundingCenter X="1.259418" Y="-1.356106" Z="0.035395" />
        <Placement></Placement>
    </Template>
</Library>
