<?xml version="1.0" ?>
<Library name="rocks_bliss" shape="elipse" default_fill="-8372160" default_outline="-1" tex="0">
    <Template>
        <Name>rock_wallh4</Name>
        <File>dz\rocks_bliss\rock_wallh4.p3d</File>
        <Date>01/23/20 09:05:07</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1147540400</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>6.643422</BBRadius>
        <BBHScale>1.008027</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-6.431681" Y="-3.683515" Z="-5.739796" />
        <BoundingMax X="6.961821" Y="4.572831" Z="7.547049" />
        <BoundingCenter X="0.265070" Y="0.444658" Z="0.903626" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>rock_wallh5</Name>
        <File>dz\rocks_bliss\rock_wallh5.p3d</File>
        <Date>01/23/20 09:05:24</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1147540399</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>8.370310</BBRadius>
        <BBHScale>1.419804</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-11.841372" Y="-3.311296" Z="-8.307970" />
        <BoundingMax X="11.927023" Y="9.206190" Z="8.432650" />
        <BoundingCenter X="0.042826" Y="2.947447" Z="0.062340" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>rock_wallh6</Name>
        <File>dz\rocks_bliss\rock_wallh6.p3d</File>
        <Date>01/23/20 09:05:45</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1147540398</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>7.757299</BBRadius>
        <BBHScale>1.273082</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-9.885010" Y="-4.494576" Z="-7.771476" />
        <BoundingMax X="9.866348" Y="4.491179" Z="7.743123" />
        <BoundingCenter X="-0.009331" Y="-0.001698" Z="-0.014176" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>stone10</Name>
        <File>dz\rocks_bliss\stone10.p3d</File>
        <Date>01/23/20 09:06:06</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-457358812</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.808797</BBRadius>
        <BBHScale>1.189102</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.961743" Y="-0.458642" Z="-0.808798" />
        <BoundingMax X="0.961743" Y="1.872340" Z="0.808797" />
        <BoundingCenter X="0.000000" Y="0.706849" Z="-0.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>stone10_moss</Name>
        <File>dz\rocks_bliss\stone10_moss.p3d</File>
        <Date>01/23/20 09:06:31</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1307778243</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.808797</BBRadius>
        <BBHScale>1.189102</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.961743" Y="-0.458642" Z="-0.808798" />
        <BoundingMax X="0.961743" Y="1.872340" Z="0.808797" />
        <BoundingCenter X="0.000000" Y="0.706849" Z="-0.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>stone6</Name>
        <File>dz\rocks_bliss\stone6.p3d</File>
        <Date>01/23/20 09:06:49</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>537854225</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.557347</BBRadius>
        <BBHScale>0.751113</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.248385" Y="-0.425903" Z="-1.565798" />
        <BoundingMax X="1.091103" Y="0.505841" Z="1.548896" />
        <BoundingCenter X="-0.078641" Y="0.039969" Z="-0.008451" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>stone6_moss</Name>
        <File>dz\rocks_bliss\stone6_moss.p3d</File>
        <Date>01/23/20 09:06:54</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1933487248</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.557347</BBRadius>
        <BBHScale>0.751113</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.248385" Y="-0.425903" Z="-1.565798" />
        <BoundingMax X="1.091103" Y="0.505841" Z="1.548896" />
        <BoundingCenter X="-0.078641" Y="0.039969" Z="-0.008451" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>stone7</Name>
        <File>dz\rocks_bliss\stone7.p3d</File>
        <Date>01/23/20 09:07:05</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>537854226</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.277010</BBRadius>
        <BBHScale>1.060274</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.179720" Y="-0.435870" Z="-1.315880" />
        <BoundingMax X="1.528240" Y="0.428724" Z="1.238140" />
        <BoundingCenter X="0.174260" Y="-0.003573" Z="-0.038870" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>stone7_moss</Name>
        <File>dz\rocks_bliss\stone7_moss.p3d</File>
        <Date>01/23/20 09:07:08</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1989472817</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.277010</BBRadius>
        <BBHScale>1.060274</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.179720" Y="-0.435870" Z="-1.315880" />
        <BoundingMax X="1.528240" Y="0.428724" Z="1.238140" />
        <BoundingCenter X="0.174260" Y="-0.003573" Z="-0.038870" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>stone7_Trail_B</Name>
        <File>dz\rocks_bliss\stone7_trail_b.p3d</File>
        <Date>01/23/20 09:07:08</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-462413028</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.277010</BBRadius>
        <BBHScale>1.060274</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.179720" Y="-0.435870" Z="-1.315880" />
        <BoundingMax X="1.528240" Y="0.428724" Z="1.238140" />
        <BoundingCenter X="0.174260" Y="-0.003573" Z="-0.038870" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>stone7_Trail_G</Name>
        <File>dz\rocks_bliss\stone7_trail_g.p3d</File>
        <Date>01/23/20 09:07:08</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-462413023</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.277010</BBRadius>
        <BBHScale>1.060274</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.179720" Y="-0.435870" Z="-1.315880" />
        <BoundingMax X="1.528240" Y="0.428724" Z="1.238140" />
        <BoundingCenter X="0.174260" Y="-0.003573" Z="-0.038870" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>stone7_Trail_R</Name>
        <File>dz\rocks_bliss\stone7_trail_r.p3d</File>
        <Date>01/23/20 09:07:08</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-462413012</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.277010</BBRadius>
        <BBHScale>1.060274</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.179720" Y="-0.435870" Z="-1.315880" />
        <BoundingMax X="1.528240" Y="0.428724" Z="1.238140" />
        <BoundingCenter X="0.174260" Y="-0.003573" Z="-0.038870" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>stone7_Trail_Y</Name>
        <File>dz\rocks_bliss\stone7_trail_y.p3d</File>
        <Date>01/23/20 09:07:08</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-462413005</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.277010</BBRadius>
        <BBHScale>1.060274</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.179720" Y="-0.435870" Z="-1.315880" />
        <BoundingMax X="1.528240" Y="0.428724" Z="1.238140" />
        <BoundingCenter X="0.174260" Y="-0.003573" Z="-0.038870" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>stone8</Name>
        <File>dz\rocks_bliss\stone8.p3d</File>
        <Date>01/23/20 09:07:24</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>537854227</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.394880</BBRadius>
        <BBHScale>0.967997</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.175102" Y="-0.623215" Z="-1.751190" />
        <BoundingMax X="1.525378" Y="0.589353" Z="1.038570" />
        <BoundingCenter X="0.175138" Y="-0.016931" Z="-0.356310" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>stone8_moss</Name>
        <File>dz\rocks_bliss\stone8_moss.p3d</File>
        <Date>01/23/20 09:07:30</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1617465586</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.394880</BBRadius>
        <BBHScale>0.967997</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-1.175102" Y="-0.623215" Z="-1.751190" />
        <BoundingMax X="1.525378" Y="0.589353" Z="1.038570" />
        <BoundingCenter X="0.175138" Y="-0.016931" Z="-0.356310" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>stone9</Name>
        <File>dz\rocks_bliss\stone9.p3d</File>
        <Date>01/23/20 09:07:49</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>537854228</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.384659</BBRadius>
        <BBHScale>1.628790</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-3.191385" Y="-0.573073" Z="-1.331976" />
        <BoundingMax X="1.319251" Y="0.679791" Z="1.437342" />
        <BoundingCenter X="-0.936067" Y="0.053359" Z="0.052683" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>stone9_moss</Name>
        <File>dz\rocks_bliss\stone9_moss.p3d</File>
        <Date>01/23/20 09:08:12</Date>
        <Archive></Archive>
        <Fill>-8372160</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1245458355</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.384659</BBRadius>
        <BBHScale>1.628790</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-3.191385" Y="-0.573073" Z="-1.331976" />
        <BoundingMax X="1.319251" Y="0.679791" Z="1.437342" />
        <BoundingCenter X="-0.936067" Y="0.053359" Z="0.052683" />
        <Placement></Placement>
    </Template>
</Library>
