<?xml version="1.0" ?>
<Library name="Specific FuelStation" shape="rectangle" default_fill="-16777216" default_outline="-1" tex="0">
    <Template>
        <Name>FuelStation_Build</Name>
        <File>dz\structures\specific\fuelstation\fuelstation_build.p3d</File>
        <Date>02/18/21 23:43:29</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1814793523</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.350380</BBRadius>
        <BBHScale>1.139503</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-3.824337" Y="-0.500001" Z="-3.253966" />
        <BoundingMax X="3.811202" Y="3.760128" Z="3.446795" />
        <BoundingCenter X="-0.006567" Y="1.630064" Z="0.096414" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>FuelStation_Feed</Name>
        <File>dz\structures\specific\fuelstation\fuelstation_feed.p3d</File>
        <Date>02/18/21 23:43:29</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>412200255</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.188059</BBRadius>
        <BBHScale>2.899406</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.542517" Y="-0.000000" Z="-0.188059" />
        <BoundingMax X="0.548002" Y="1.717358" Z="0.188059" />
        <BoundingCenter X="0.002743" Y="0.858679" Z="0.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>FuelStation_Feed_NoFuel</Name>
        <File>dz\structures\specific\fuelstation\fuelstation_feed_nofuel.p3d</File>
        <Date>02/18/21 23:43:29</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1299736823</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.188059</BBRadius>
        <BBHScale>2.517696</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.469539" Y="-0.000000" Z="-0.188059" />
        <BoundingMax X="0.477413" Y="1.717358" Z="0.188059" />
        <BoundingCenter X="0.003937" Y="0.858679" Z="0.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>FuelStation_Shed</Name>
        <File>dz\structures\specific\fuelstation\fuelstation_shed.p3d</File>
        <Date>02/18/21 23:43:30</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1994683765</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>6.208979</BBRadius>
        <BBHScale>1.497458</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-9.289381" Y="-0.498120" Z="-6.170645" />
        <BoundingMax X="9.305990" Y="6.856380" Z="6.247312" />
        <BoundingCenter X="0.008305" Y="3.179130" Z="0.038333" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>FuelStation_Sign</Name>
        <File>dz\structures\specific\fuelstation\fuelstation_sign.p3d</File>
        <Date>02/18/21 23:43:30</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>2003076478</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.595504</BBRadius>
        <BBHScale>0.400167</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.207612" Y="-0.672167" Z="-0.499435" />
        <BoundingMax X="0.268990" Y="5.044754" Z="0.691572" />
        <BoundingCenter X="0.030689" Y="2.186293" Z="0.096068" />
        <Placement></Placement>
    </Template>
</Library>
