<?xml version="1.0" ?>
<Library name="Containers" shape="rectangle" default_fill="-16777216" default_outline="-1" tex="0">
    <Template>
        <Name>Container_1A</Name>
        <File>dz\structures\industrial\containers\container_1a.p3d</File>
        <Date>11/17/21 23:11:53</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1592834706</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Container_1Aoh</Name>
        <File>dz\structures\industrial\containers\container_1aoh.p3d</File>
        <Date>11/17/21 23:11:53</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>978749991</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Container_1B</Name>
        <File>dz\structures\industrial\containers\container_1b.p3d</File>
        <Date>11/17/21 23:11:53</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1592834705</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Container_1Bo</Name>
        <File>dz\structures\industrial\containers\container_1bo.p3d</File>
        <Date>11/17/21 23:11:53</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-399436096</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Container_1C</Name>
        <File>dz\structures\industrial\containers\container_1c.p3d</File>
        <Date>11/17/21 23:11:53</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1592834704</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Container_1D</Name>
        <File>dz\structures\industrial\containers\container_1d.p3d</File>
        <Date>11/17/21 23:11:53</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1592834703</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Container_1Mo</Name>
        <File>dz\structures\industrial\containers\container_1mo.p3d</File>
        <Date>11/17/21 23:11:53</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-398714507</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Container_1Moh</Name>
        <File>dz\structures\industrial\containers\container_1moh.p3d</File>
        <Date>11/17/21 23:11:53</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1077888051</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Container_2A</Name>
        <File>dz\structures\industrial\containers\container_2a.p3d</File>
        <Date>11/17/21 23:11:53</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1592769107</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Container_2B</Name>
        <File>dz\structures\industrial\containers\container_2b.p3d</File>
        <Date>11/17/21 23:11:53</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1592769106</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Container_2C</Name>
        <File>dz\structures\industrial\containers\container_2c.p3d</File>
        <Date>11/17/21 23:11:53</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1592769105</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Container_2D</Name>
        <File>dz\structures\industrial\containers\container_2d.p3d</File>
        <Date>11/17/21 23:11:53</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1592769104</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>Container_2E</Name>
        <File>dz\structures\industrial\containers\container_2e.p3d</File>
        <Date>11/17/21 23:11:53</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1592769103</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
</Library>
